.subhead {
  text-transform: capitalize;
  font-size: 90px;
}
.aboutUs-app img {
  width: 50%;
}
.aboutUs-app {
  position: relative;
}
.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 117px;
  font-size: 90px;
}
/* layar lebar:tv */
@media screen and (min-width: 2000px) {
  .app__header-h1 {
    font-size: 180px;
    line-height: 210px;
  }
}
/* batas layar laptop/pc */
@media screen and (max-width: 1150px) {
  .app__header-h1 {
    font-size: 90px;
  }
  .aboutUs-app img {
    width: 100%;
  }
}
/* layar tablet */
@media screen and (max-width: 650px) {
  .app__header-h1 {
    font-size: 70px;
    line-height: 87px;
  }
  .aboutUs-app img {
    width: 100%;
  }
}
/* layar hp */
@media screen and (max-width: 450px) {
  .subhead {
    font-size: 50px;
    line-height: 70px;
  }
  .aboutUs-app img {
    width: 100%;
  }
}
